<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
</head>
<body>

<h2>Login</h2>
<form id="loginForm">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <button type="submit">Login</button>
</form>

<script>
document.getElementById('loginForm').addEventListener('submit', async function(event) {
    event.preventDefault();
    
    const formData = new FormData(this);
    const userData = {
        username: formData.get('username'),
        password: formData.get('password')
    };

    try {
        const response = await fetch('/v1/auth/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(userData)
        });

        if (response.ok) {
            const data = await response.json();
            // Save the access token to cookies
            document.cookie = `access_token=${data.access_token}; expires=Wed, 1 Jan 2026 12:00:00 UTC; path=/`;

            window.location.href = '/levels';
            // alert('Login successful! Access token saved to cookies.');
        } else {
            alert('Login failed. Please try again.');
        }
    } catch (error) {
        console.error('Error:', error);
    }
});
</script>

</body>
</html>


<!-- {% extends 'base.html' %} -->
<!---->
<!-- {% block header %} -->
<!--   <h1>{% block title %}Register{% endblock %}</h1> -->
<!-- {% endblock %} -->
<!---->
<!-- {% block content %} -->
<!--   <form method="post"> -->
<!--     <label for="username">Username</label> -->
<!--     <input name="username" id="username" required> -->
<!--     <label for="password">Password</label> -->
<!--     <input type="password" name="password" id="password" required> -->
<!--     <input type="submit" value="Register"> -->
<!--   </form> -->
<!-- {% endblock %} -->
