{% extends 'ryl_base.html' %}

<body>


{% block content %}
<h2>Levels</h2>

{{ fuser }}

<div id="levelsList"></div>
<button id="prevPageBtn" disabled>Previous Page</button>
<button id="nextPageBtn" disabled>Next Page</button>
<div id="div"></div>


<script>
const levelsList = document.getElementById('levelsList');
const prevPageBtn = document.getElementById('prevPageBtn');
const nextPageBtn = document.getElementById('nextPageBtn');
const div = document.getElementById('div');

let currentPage = new URLSearchParams(window.location.search).get('page') || 1;
const accessToken = document.cookie.replace(/(?:(?:^|.*;\s*)access_token\s*=\s*([^;]*).*$)|^.*$/, "$1");
if (accessToken) {
    headers = {
        'Authorization': `Bearer ${accessToken}`
    }
}
else {
    headers = {}
}


const fetchLevels = async (page) => {
    const response = await fetch(`/v1/levels?page=${page}&level_type=level&per_page=20`, {
            method: 'GET',
            headers: headers
    });
    const data = await response.json();
    
    levelsList.innerHTML = ""; // Clear previous levels
    
    div.innerHTML = JSON.stringify(data, null, 2)

    data.levels.forEach(level => {
        const levelElement = document.createElement('div');
        
        const levelUrl = level.url
        const creator = level.author_creators[0].creator
        const creatorUrl = creator.url
        const creatorName = creator.display_name

        levelElement.innerHTML = `
            <p><strong>Level:
                <a href="${levelUrl}">${level.display_name}</a>
                by <a href="${creatorUrl}">${creatorName}</a></strong></p>
        `;
        

        levelsList.appendChild(levelElement);
    });
    
    pagination = data.pagination

    // Enable/disable pagination buttons based on current page
    prevPageBtn.disabled = !data.pagination.prev;
    nextPageBtn.disabled = !data.pagination.next;
};

prevPageBtn.addEventListener('click', () => {
    currentPage--;
    window.location.href = `/levels?page=${currentPage}`;
    // fetchLevels(currentPage);
});

nextPageBtn.addEventListener('click', () => {
    currentPage++;
    window.location.href = `/levels?page=${currentPage}`;
    // fetchLevels(currentPage);
});

// Initial fetch for the first page
fetchLevels(currentPage);
</script>
{% endblock %}
